pdfplumber
pdf2image
pillow
opencv-python
pytesseract
paddleocr
paddlepaddle==3.2.2 
transformers
torch
sentencepiece
sentence-transformers
python-docx
reportlab
openpyxl
pandas
numpy
scikit-learn
fuzzywuzzy
python-Levenshtein
streamlit
